<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status Webhook</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Status Webhook!</h1>
            <p>This is the sample web hook application</p>
            <a href="/api/v1/status" class="btn btn-primary btn-lg">View status list</a>
        </div>
    </div>
</body>
</html>
